*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bitter', serif;
}


nav{
    background-color:#143F6B ;
    height: 80px;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
}

.name{
    color:#fff;
    font-size:40px;
}
form{
    padding-top:120px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 73vw;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#post-title , #post-body{
    display: block;
    width: 100%;
    padding: 15px;
    border: solid 2px #205375;
    font-size: 20px;
    font-weight: 400px;
    font-family: 'Bitter', serif;
}
label{
    display: block;
    font-size: 25px;
    color:#143F6B;
    font-weight: bold;
}

button{
    display: block;
    margin:  10px auto 50px;
    padding:10px 25px;
    width:12%;
    font-size: 18px;
    border: none;
    background-color: #205375;
    border-radius: 7px;
    color: #fff;
    font-family: 'Bitter', serif;
}

#container{
    width: 75vw;
    margin:   auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px #143F6B, -1em 0  0.1em #205375;
}

.post-container{
    padding: 10px 0;
    width: 95%;
}

.title{
    font-size: 30px;
    color:#143F6B;
}
hr{
    width:30%;
    color:#383838;
}

.body{
    padding: 25px;
    font-size: 18px;
    color:#383838;
}

@media (max-width:370px) {
    button{
        display: block;
        width: 90%;
        margin: 30px 0;
        padding:5px 10px
    }
}